{% extends "base.html" %}
{% block content %}
<div id="container">
    <div class="wrapper">
        <div class="smalls sidebar"> sidebar</div>
        <div id="content" class="big">
            <table class="table table-dark table-borderless">
                <tr>
                    <td>Название</td>
                    <td>Исполнитель</td>
                    <td>Альбом</td>
                    <td>Время</td>
                </tr>
                {% for track in tracks %}
                <tr>
                    <td>{{track["name"]}}</td>
                    <td>{{track["singer"]}}</td>
                    <td>{{track["album"]}}</td>
                    <td>{{track["duration"]}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>
    <div id="footer">
        {{ track_name }}
        <audio controls>
            <source src="{{ url_for('static', filename=track_path) }}">
        </audio>
    </div>
</div>
{% endblock %}
