{% extends "base.html" %}
{% block content %}
<div id="container">
    <div class="wrapper">
        <div class="smalls sidebar"> <a class="btn btn-primary button32" href="/add"> Добавить трек </a></div>
        <div id="content" class="big">
            <table class="table table-dark table-borderless">
                <tr>
                    <td> </td>
                    <td>Название</td>
                    <td>Исполнитель</td>
                    <td>Альбом</td>
                    <td>Время</td>
                </tr>
                {% for track in tracks %}
                <tr>
                        <td><a class="btn button32" href="/index/{{ track['id'] }}"><img src="{{ url_for('static', filename='images/Play.png') }}"></a></td>
                        <td>{{ track["name"] }}</td>
                        <td>{{ track["singer"] }}</td>
                        <td>{{ track["album"] }}</td>
                        <td>{{ track["duration"] }}</td>
                    </a>
                </tr>

                {% endfor %}
            </table>
        </div>

    </div>
    <div id="footer">
        <div class="track_name">{{ track_name }}</div>
        <div class="track_name"><audio controls>
            <source src="{{ url_for('static', filename=track_path) }}">
        </audio></div>
    </div>
</div>
{% endblock %}
